@model IEnumerable<Kasboek.WebApp.Models.Transactie>

@{
    ViewData["Title"] = "Transacties";
}

<h2>Transacties</h2>

<p>
    <a asp-action="Create">Transactie maken</a>
</p>
@await Html.PartialAsync("_Transacties", Model)