@model IEnumerable<Kasboek.WebApp.Models.Rekening>

@{
    ViewData["Title"] = "Rekeningen";
}

<h2>Rekeningen</h2>

<p>
    <a asp-action="Create">Rekening maken</a>
</p>
@await Html.PartialAsync("_Rekeningen", Model)