@using Kasboek.WebApp.Models.RekeningenViewModels
@model IList<RekeningViewModel>

@{
    ViewData["Title"] = "Rekeningen";
}

<p>
    <a asp-action="Create">Rekening maken</a>
</p>
@await Html.PartialAsync("_Rekeningen", Model)