@model Kasboek.WebApp.Models.Categorie

@{
    ViewData["Title"] = "Categorie details";
}

<h2>Categorie details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategorieId">Bewerken</a> |
    <a asp-action="Index">Terug naar categorieën</a>
</div>
