@model Kasboek.WebApp.Models.Instellingen

@{
    ViewData["Title"] = "Instellingen bewerken";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstellingenId" />
            <div class="form-group">
                <label asp-for="StandaardVanRekeningId" class="control-label"></label>
                <select asp-for="StandaardVanRekeningId" class="form-control" asp-items="ViewBag.StandaardVanRekeningId">
                    <option value="">- Selecteer een rekening -</option>
                </select>
                <span asp-validation-for="StandaardVanRekeningId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TransactieMeteenBewerken" /> @Html.DisplayNameFor(model => model.TransactieMeteenBewerken)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PortemonneeRekeningId" class="control-label"></label>
                <select asp-for="PortemonneeRekeningId" class="form-control" asp-items="ViewBag.PortemonneeRekeningId">
                    <option value="">- Selecteer een rekening -</option>
                </select>
                <span asp-validation-for="PortemonneeRekeningId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-default" /> |
                <a asp-action="Index">Terug naar instellingen details</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
