@model Kasboek.WebApp.Models.Instellingen

@{
    ViewData["Title"] = "Instellingen details";
}

<h2>Instellingen details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StandaardVanRekening)
        </dt>
        <dd>
            @if (Model.StandaardVanRekeningId.HasValue)
            {
                <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@Model.StandaardVanRekeningId">@Html.DisplayFor(model => model.StandaardVanRekening.Naam)</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit">Bewerken</a>
</div>
