@using Kasboek.WebApp.Models.ImporterenViewModels
@model UploadViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="@Model.Action" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Bestand" class="control-label"></label>
                <input asp-for="Bestand" type="file" class="form-control" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.ShowResultMessage == true)
            {
                <div class="form-group">
                    <label asp-for="ResultMessage" class="control-label"></label>
                    @Html.DisplayFor(model => model.ResultMessage)
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Importeren" class="btn btn-default" /> |
                <a asp-action="Index">Terug naar importeren overzicht</a>
            </div>
        </form>
    </div>
</div>
