@{
    ViewData["Title"] = "Importeren";
}

<p>
    <a asp-action="RekeningenOudeApplicatie">Rekeningen oude applicatie importeren</a>
</p>
<p>
    <a asp-action="TransactiesOudeApplicatie">Transacties oude applicatie importeren</a>
</p>