@{
    ViewData["Title"] = "Importeren";
}

<p>
    <a asp-action="RekeningenOudeApplicatie">Rekeningen oude applicatie importeren</a>
</p>
<p>
    <a asp-action="TransactiesOudeApplicatie">Transacties oude applicatie importeren</a>
</p>
<p>
    <a asp-action="TransactiesRabobankCsv2013">Transacties Rabobank formaat CSV 2013 importeren</a>
</p>
<p>
    <a asp-action="TransactiesOudeExcel">Transacties oude Excel importeren</a>
</p>
<p>
    <a asp-action="TransactiesRabobankCsv2018">Transacties Rabobank formaat CSV 2018 importeren</a>
</p>
