@using Kasboek.WebApp.Models.ImporterenViewModels
@model RekeningenViewModel

@{
    ViewData["Title"] = "Rekeningen importeren";
}

<h2>Rekeningen importeren</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Rekeningen" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="UploadRekeningen" class="control-label"></label>
                <input asp-for="UploadRekeningen" type="file" class="form-control" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model?.ShowResultMessage == true)
            {
                <div class="form-group">
                    <label asp-for="ResultMessage" class="control-label"></label>
                    @Html.DisplayFor(model => model.ResultMessage)
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Importeren" class="btn btn-default" /> |
                <a asp-action="Index">Terug naar importeren overzicht</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
